#header-page{
    min-width: 500px;
    display:flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    right:32%;
}
#header-text{
    font-family:'Explora',cursive;
    font-weight: bold;
    font-size:100px;
    color:rgb(170, 137, 18);
    border:none;
}
#header-text:hover{
    opacity:0.7;
    cursor:pointer;
}
#header-text:active{
    opacity:0.5
}
.container{
    border:solid;
    height:300px;
}
#footer-page{
    display:flex;
    justify-content: space-between;
    margin-left:15px;
    margin-right:15px;
}
#symbol-ss-button{
    border:none;
    border-radius:6px
}
.symbol-ss,.symbol{
    background-color:white;
    width:40px;
}
.symbol-ss:hover{
    opacity: 0.7;
    cursor:help;
}
.symbol:hover{
    opacity:0.7
}
.paintings{
    width:400px;
}
/*  inverted-5  ის  კოდი აღებულია https://css-tricks.com/css-hover-effects-background-masks-3d/ დან*/
#inverted-5 {
    background:
        linear-gradient(#000, 40%, #fff 0 60%, #000  0) left/var(--_p,0%) no-repeat,
        linear-gradient(#0000 40%, #000 0 60%, #0000 0) left/var(--_p,0%) no-repeat,
        #000;
    -webkit-background-clip: text, padding-box, text;
            background-clip: text, padding-box, text;
    transition: 0.8s
    }
    #inverted-5:hover {
    --_p: 100%;
    }
    #inverted-5:active{
        opacity:0.7
    }